@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Gowun+Dodum&display=swap');

h1 {
  font-family: 'Dongle', sans-serif;
  font-size: 3.5rem;
}

* {
  font-family: 'Gowun Dodum', sans-serif;
}